.ant-layout-sider {
  font-size: 17px;
  padding: 20px;
}

.list-input-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-list {
  margin: 20px 0;
  > div {
    margin: 10px 0;
  }
}

.list-input {
  margin-left: 20px;
  color: black;
}

.list-item {
  margin-left: 10px;
  .close-icon {
    margin-left: 5px;
  }
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: 600;
}

.table-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  > div {
    margin-right: 5px;
  }
}
