.ant-layout-sider {
  color: white;
  font-size: 17px;
}

.list-input {
  margin-left: 20px;
  color: black;
}

.item-list {
  margin: 20px;
}

.list-item {
  margin-left: 10px;
  .close-icon {
    margin-left: 5px;
  }
}
