.ant-layout-sider {
  font-size: 17px;
  padding: 20px;
}

.list-input-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-input {
  margin-left: 20px;
  color: black;
}

.item-list {
  margin: 20px 0;
}

.list-item {
  margin-left: 10px;
  .close-icon {
    margin-left: 5px;
  }
}
